@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.page{
  width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul, a{
  list-style: none;
  display: flex;
  gap: 48px;
  color: black;
  text-decoration: none;
}

ul li a{
  opacity: 0.5;
}

ul li a:hover{
  font-weight: bolder;
  opacity: 1;
}

body *{
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

body{
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.8%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text{
  margin: 100px 0;
}

h1{
  font-size: 50px;
  margin-bottom: 50px;
  width: 490px;
}

p{
  color: #6a6a6a;
  line-height: 35px;
  margin-bottom: 50px;
}

span{
  color: #89C5CC;
}

button{
  background: #69B99D;
  border: none;
  padding: 12px 30px;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  display: flex;
  gap: 12px;
  transition: background 0.3s ease;
}

button:hover{
  background: #69b99dcb;
}

footer{
  text-align: center;
  font-size: 15px;
}

.instagram{
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: inline;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}


